@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --white: #fff;
  --gray: #eae9e6;
  --yellow: #ebca53;
  --blue: #2c5192;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: "Noto Sans";
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--black);
}

.product {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: var(--white);
}

.product-image {
  position: relative;
}

.product-cart {
  position: absolute;
  inset: auto 10px 10px;
  padding: 6px;
  background: var(--yellow);
  border: solid 1px var(--blue);
  border-radius: 20px;
  text-align: center;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-size: 14px;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin: 50px;
}

.share-icon {
  height: 24px;
}

.share-list {
  display: flex;
  gap: 12px;
}

// ---------------------------------------------
// Votre code ici :
// ---------------------------------------------

/*01*/
.marker .product-cart {
  opacity: 0;
  transition: 0.5s;
}
.marker:hover .product-cart {
  opacity: 1;
}
.marker .product-cart:hover {
  background: var(--blue);
}

/*02*/
.pencil .product-cart {
  opacity: 0;
  transition: 0.7s;
  transform: translateY(-70px);
}
.pencil:hover .product-cart {
  opacity: 1;
  transform: translateY(0px);
}
.pencil .product-cart:hover {
  background: var(--blue);
}

/*03*/
.scissors {
  transition: 0.5s;
}
.scissors:hover {
  background: var(--blue);
  .product-title {
    color: var(--white);
  }
  .product-price {
    color: var(--gray);
  }
}

/*04*/
.sketchbook img {
  transition: 0.5s;
}
.sketchbook .product-image {
  overflow: hidden;
  transition: 0.5s;
}
.sketchbook img:hover {
  transform: scale(130%);
}

/*05*/
.glue img {
  transition: 0.5s;
  filter: blur(3px);
}
.glue .product-image {
  overflow: hidden;
}
.glue img:hover {
  filter: none;
}

/*06*/
.share-list .share-icon {
  opacity: 0;
  transform: translateY(-30px);
}
.share-icon:nth-child(1) {
  transition: 0.7s;
}
.share-icon:nth-child(2) {
  transition: 1s;
}
.share-icon:nth-child(3) {
  transition: 1.3s;
}
.share:nth-child(1):hover {
  .share-list .share-icon {
    opacity: 1;
    transform: translateY(0px);
  }
}
